  /* Establece el ancho máximo de la página en 700px */
  body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(126, 126, 126);
  }

  h2 {
    text-align: center;

  }

  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .rounded-image {
    border-radius: 50%;
  }

  .mail {
    text-decoration: none;
    text-transform: lowercase;
  }

  .anchomax {
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding-left: 3px;
    padding-right: 3px;
  }

  .anchomax img {
    width: 75%;
    display: block;
    margin: 3 auto;

  }

  img {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }

  .superior {
    background-color: rgb(70, 70, 206);
    color: white;
    text-align: center;
    text-transform: capitalize;
    text-size-adjust: 16vw;
    
  }

  .datos {
    background-color: rgb(54, 95, 145);
    color: rgb(255, 255, 255);
    text-transform: capitalize;
   text-align: left;
   font-size: larger;
   
   


  }

  .dpersonales {
    background-color: rgb(255, 255, 255);
    color:black;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    padding-left: 5px;

  }

  .indicador {
    text-transform: capitalize;
    text-align: left;
    font-weight: bolder;
    font-size: large;

  }

  .especial {
    background-color: rgb(31, 73, 125);
    color: rgb(255, 255, 255);
    text-align: left;
    text-transform: capitalize;
    font-size: larger;
  }

  .despecial {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding-top: 3px;
    padding-bottom: 3px;
    /* font-weight: bolder; */
    text-align: center;

  }

  .forma {
    width: 50%;
    background-color: rgb(178, 161, 199);
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: capitalize;
    padding-top: 3px;
    
    
  }

  .dformacion {
    width: 50%;
    background-color: rgb(229, 223, 236);
    padding-top: 3px;
    padding-bottom: 3px;
    /* font-size: large; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: none;
    text-align: left;
    color: rgb(0, 0, 0);
  }


  .cono {
    width: 50%;
    background-color: rgb(118, 146, 60);
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: capitalize;
    padding-top: 3px;
  }

  .dconocimientos {
    width: 50%;
    background-color: rgb(214,277,188);
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: none;
    text-align: left;
    color: rgb(0, 0, 0);
  }

  .experiencia {
    background-color: rgb(146, 205, 220);
    color: black;
    text-align: center;
    text-transform: capitalize;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .columnas {
    display: flex;
    flex-wrap: wrap;
  }

  .columna {
    flex: 1;
    height: 50px;
    text-align: center;
    margin: auto;
    /* background-color: rgb(107, 130, 190); */
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .col-iz {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .col-der {
    width: 55%;
  }

  .pie {
    width: 100%;
    background-color: rgb(252, 231, 211);
    text-align: right;
    font-size: 15px;
  }